h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}

/* Header */

.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 10px;
}

.logo {
  width: 80px;
  height: 80px;
}

.header-menu {
  display: flex;
}

.header-menu > ul {
  display: flex;
}

.header-menu > ul > li {
  list-style: none;
  padding: 10px;
}

/* Body */

.card {
  border: 1px solid;
  width: 200px;
  padding: 10px;
margin: 5px;
}

.card > img {
  width: 100%;
}

.restaurant-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  background-color: lightgrey;
  margin: 10px;
}

/* Restaurant info page */

.restaurant-page {
  display: flex;
}

/* Footer */
